<% extends "swift.njk" %>

<% block header %>
    <%- if module.name == file.filename -%>
        var this :JSInstance = try! JSContext().eval(NSBundle<% if bundleId %>(identifier: "<$ bundleId $>")!<% else %>.mainBundle<% endif %>.pathForResource("<$ module.src.name $>", ofType: "js")!)
    <% endif %>
<% endblock %>

<% block let %>
    <%- if declaration.type|kind == 'AnyType' -%>
        = this[.<$ declaration.name $>].infer()
    <%- else -%>
        = <$ declaration.type|signature $>(this[.<$ declaration.name $>])
    <%- endif %>
<% endblock %>

<% block var -%> {
    get {
        <% if declaration.type|kind == 'AnyType' -%>
            return this[.<$ declaration.name $>].infer()
        <%- else -%>
            return <$ declaration.type|signature $>(this[.<$ declaration.name $>])
        <%- endif %>
    }
    set {
        this[.<$ declaration.name $>] = this.valueOf(newValue)
    }
} 
<% endblock %>

<% block footer -%>
    <% if module.name == file.filename -%>
        <% filter indent(-3) %>
            extension JSProperty {
                <%- filter indent(-2) -%>
                    <% for identifier in module.identifiers|array %>
                        static let <$ identifier $> : JSProperty = "<$ identifier $>"
                    <%- endfor %>
                <%- endfilter %>
            }
        <%- endfilter %>
    <% endif %>
<% endblock %>

