<% extends "swift.njk" %>

<% block header %>
    <%- if module.name == file.path.name -%>
        var this :JSInstance = try! JSContext().eval(NSBundle<% if bundleId %>(identifier: "<$ bundleId $>")!<% else %>.mainBundle()<% endif %>.pathForResource("<$ module.src.name $>", ofType: "js")!)
    <% endif %>
<% endblock %>

<% macro arrayElementReturnValue(type, optional = type.optional) -%>
    <%- if type|kind == 'AnyType' -%>
        <%- if optional -%>
            { Any?($0, wrapped: JSValue.infer) }
        <%- else -%>
            JSValue.infer
        <%- endif %>
    <%- elif type|kind == 'ArrayType' -%>
        { <$ signature(type, optional) $>($0, element: <$ arrayElementReturnValue(type.typeArguments[0]) $>) }
    <%- else -%>
        <%- if optional -%>
            { <$ signature(type, optional) $>($0, wrapped: <$ signature(declaration.type, false) $>.init) }
        <%- else -%>
            <$ signature(type, optional) $>.init
        <%- endif %>
    <%- endif %>
<%- endmacro -%>

<% macro returnValue(declaration) -%>
    <%- if declaration.type|kind == 'AnyType' -%>
        <%- if declaration.type.optional -%>
            Any?(this[.<$ declaration.name $>], wrapped: JSValue.infer)
        <%- else -%>
            this[.<$ declaration.name $>].infer()
        <%- endif %>
    <%- elif declaration.type|kind == 'ArrayType' -%>
        <%- if declaration.type.optional -%>
            <$ signature(declaration.type) $>(this[.<$ declaration.name $>], wrapped: <$ arrayElementReturnValue(declaration.type, false) $>)
        <%- else -%>
            <$ signature(declaration.type) $>(this[.<$ declaration.name $>], element: <$ arrayElementReturnValue(declaration.type.typeArguments[0]) $>)    
        <%- endif %>
    <%- else -%>
        <%- if declaration.type.optional -%>
            <$ signature(declaration.type) $>(this[.<$ declaration.name $>], wrapped: <$ signature(declaration.type, false) $>.init)
        <%- else -%>
            <$ signature(declaration.type) $>(this[.<$ declaration.name $>])
        <%- endif %>
    <%- endif %>
<%- endmacro -%>

<% macro arrayElementArgumentValue(type) -%>
    <%- if type|kind == 'ArrayType' -%>
        { this.valueOf($0, element: <$ arrayElementArgumentValue(type.typeArguments[0]) $>) }
    <%- else -%>
        this.valueOf
    <%- endif %>
<%- endmacro -%>

<% macro argumentValue(declaration) -%>
    <%- if declaration.type|kind == 'ArrayType' -%>
        this.valueOf(newValue, element: <$ arrayElementArgumentValue(declaration.type.typeArguments[0]) $>)
    <%- else -%>
        this.valueOf(newValue<% if declaration.type.optional %>, wrapped: this.valueOf<% endif %>)
    <%- endif %>
<%- endmacro -%>


<% macro var(declaration) -%> {
    get {
        return <$ returnValue(declaration) $>
    }
    set {
        this[.<$ declaration.name $>] = <$ argumentValue(declaration) $>
    }
} 
<%- endmacro -%>

<% block variable %>
    <%- if declaration.constant -%>
        = <$ returnValue(declaration) $>
    <%- else -%>
        <$ var(declaration) $>
    <%- endif -%>
<% endblock %>

<% block footer -%>
    <%- if module.name == file.path.name -%>
        <% filter indent(-3) %>
            extension JSProperty {
                <%- filter indent(-2) -%>
                    <% for identifier in module.identifiers|array %>
                        static let <$ identifier $> : JSProperty = "<$ identifier $>"
                    <%- endfor %>
                <%- endfilter %>
            }
        <%- endfilter %>
    <% endif %>
<% endblock %>

