import Foundation

<% block header %><% endblock -%>

<% for declaration in file.declarations %>
    <%- if declaration|kind == 'VariableDeclaration' -%>
        public <$ declaration|keyword $> <$ declaration.name $> :<$ declaration.type|signature $> <% if declaration.constant %><% block let %><% endblock %><% else %><% block var %><% endblock %><% endif %>
    <%- elif declaration.constant -%>
    <%- endif %>
<% endfor -%>

<% block footer %><% endblock %>
